body{
    background-color: black;
}
h1{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
}
label{
    color: whitesmoke;
}
button{
    font-family:Century;
    float: left;
}
h4 , h2{
    margin-left:300px;
    margin-right:300px;
    color: white;
}

p{
    color: whitesmoke;
}
.top{
    background-color: black;
}
.top button{
    background-color: green;
    height: 30px;
    width: 33%;
    color:whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
.top button:hover {
    background-color:whitesmoke;
    color: black;
}
.top button.active {
    background-color:whitesmoke;
    color: white;
}
.Center {
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
}
.topNavigation {
    background-color: black;
}
.topNavigation button{
    background-color: green;
    height: 30px;
    width: 20%;
    color:whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
.topNavigation button:hover {
    background-color:whitesmoke;
    color: black;
}
.topNavigation button.active {
    background-color:whitesmoke;
    color: white;
}
fieldset
{
    border-color: whitesmoke;
    border-style: ridge;
}
main{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    margin-left:300px;
    margin-right:300px;
    color: whitesmoke;
}

tr,td,table{
    background-color: whitesmoke;
}