#ts{
    display: block;
    align-content: center;
    background-color:skyblue;
    margin-right: 250px;
    margin-left: 200px;
}
#menu{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}
h1,h3,h5,h6{
    color: white;
}
h2{
    color: black;
    text-align: center;
}
table{
    margin-left: 40%;
}
th, td {
    color : black;
    text-align : center;
    font-size : 20px;
    border : 2px solid black;
}

button {
    background-color : #b1b1ac;
    font-family : "Comic Sans MS", Monaco, monospace;
    font-size : 15px;
    margin: auto;
    display: block;
}

label{
    color: black;
}